<!DOCTYPE html>
<html>
<head>
    <title>E3434Mvc4</title>

    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout }
)

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout }
)
</head>

<body>
    <table>
        <tr>
            <td>
                @Html.DevExpress().NavBar(s => {
                    s.Name = "NavigationBar";
                    s.Groups.Add("View").Items.AddRange(new NavBarItem[] {
                        new MVCxNavBarItem("View Customers", "nbiViewCustomers", string.Empty, "Customers"),
                        new MVCxNavBarItem("View Orders", "nbiViewOrders", string.Empty, "Orders")
                    });
                }).GetHtml()
            </td>
            <td>
                @RenderBody()
            </td>
        </tr>
    </table>
</body>
</html>